@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@media (min-width: 768px) {
    .button-50 {
        padding: 12px 50px;
    }
}

*
{
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

.container
{
    display: grid;
    height: 100vh;  
    grid-template-rows: 1fr 3fr 1fr;

    background-color: white;
}

/* Start of Header */

.header
{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 800; 
    font-size: 50px; 
}

.header button
{
    outline: none; 
    border: none; 
    background-color: transparent;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 800; 
    font-size: 40px; 
}

.header button:hover
{
    outline: 5px solid #FFEB3B; 
}


.header .title
{
    font-family: "Pixelify Sans", sans-serif;
}


/* Start of Body*/
.body
{
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    text-align: center;
    width: 500px;
    height: 500px;
    margin: 10px; 
}

.square
{
    display: flex; 
    align-items: center;
    justify-content: center;
    outline: 5px solid #FFEB3B; 
}

.square:hover
{
    background-color: rgba(235, 236, 176, 0.603);
}

.square-x
{
    font-size: 100px; 
    font-weight: 100; 
    font-family: "Pixelify Sans", sans-serif;
}

/* Start of Footer*/
.footer
{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 50px; 
    font-size: 30px; 
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 800; 
}

.footer-text
{
    text-align: center;
}
